Repository FROMJASP/14voices, changes with the owners that .github/CODEOWNERS names for each.
All owners: @team-lead, @senior-dev, @backend-systems-architect, @security-auditor, @devops-lead, @email-specialist, @billing-specialist, @booking-specialist, @content-specialist

fix: add curl to Docker image for Coolify health checks
  Dockerfile
Owners: @team-lead, @senior-dev

fix: replace curl with wget for Coolify health checks
  Dockerfile
Owners: @team-lead, @senior-dev

fix: update health check to use wget instead of curl
  coolify.json
Owners: @team-lead, @senior-dev

fix: install both curl and wget for Coolify health check compatibility
  COOLIFY_FIX.md
  Dockerfile
  coolify-alternative.json
Owners: @team-lead, @senior-dev

fix: add automatic database migrations on deployment
  Dockerfile
  scripts/docker-entrypoint.sh
Owners: @team-lead, @senior-dev, @devops-lead

fix: improve migration script to properly run Payload migrations
  scripts/docker-entrypoint.sh
Owners: @devops-lead

fix: resolve Payload migration TypeScript config issue for Coolify deployment
  Dockerfile
  docs/COOLIFY_DATABASE_SETUP.md
  docs/SELF_HOSTED_DEPLOYMENT.md
  scripts/docker-entrypoint.sh
  scripts/migrate-database.mjs
Owners: @team-lead, @senior-dev, @devops-lead

fix: add npm to runtime container and simplify migration process
  Dockerfile
  scripts/docker-entrypoint.sh
  scripts/migrate-database.mjs
  scripts/run-migrations.js
Owners: @team-lead, @senior-dev, @devops-lead

fix: add debugging to docker-entrypoint.sh for database connection issues
  docs/COOLIFY_DATABASE_SETUP.md
  scripts/docker-entrypoint.sh
Owners: @team-lead, @senior-dev, @devops-lead

fix: handle Coolify environment variable parsing issue
  scripts/docker-entrypoint.sh
  scripts/test-env.sh
Owners: @devops-lead

fix: improve database migration with fallback approach and add Coolify labels
  docker-compose.coolify.yml
  docs/COOLIFY_TROUBLESHOOTING.md
  scripts/docker-entrypoint.sh
Owners: @team-lead, @senior-dev, @devops-lead

fix: resolve Coolify deployment issues - SSL, env vars, and migrations
  COOLIFY_DEPLOYMENT_FIX.md
  Dockerfile
  coolify-labels.txt
  docker-compose.coolify-simple.yml
  scripts/docker-entrypoint-fixed.sh
  scripts/run-migrations-simple.js
Owners: @team-lead, @senior-dev, @devops-lead

fix: add multiple fallback approaches for database migrations
  CLEANUP_GUIDE.md
  Dockerfile
  scripts/direct-migrate.js
  scripts/docker-entrypoint-fixed.sh
  scripts/manual-db-setup.sql
Owners: @team-lead, @senior-dev, @devops-lead

fix: remove SKIP_MIGRATIONS from docker-compose for Coolify
  docker-compose.coolify-simple.yml
Owners: @team-lead, @senior-dev

fix: add S3ClientUploadHandler to import map generation
  scripts/generate-importmap.js
Owners: @devops-lead

fix: improve database migration handling for Docker deployments
  Dockerfile
  bun.lockb
  neon-schema.sql
  package.json
  scripts/direct-migrate.js
  scripts/docker-entrypoint-fixed.sh
  scripts/emergency-migrate.js
  scripts/fix-database-migrations.sh
  scripts/run-migrations-prod.js
Owners: @team-lead, @senior-dev, @devops-lead

fix: handle Payload initialization errors gracefully for initial deployment
  Dockerfile
  scripts/direct-db-migrate.js
  scripts/docker-entrypoint-fixed.sh
  src/app/(app)/(with-global-layout)/page.tsx
  src/lib/database-optimizations.ts
  src/lib/safe-payload.ts
Owners: @team-lead, @senior-dev, @devops-lead

fix: add comprehensive database migration with all Payload auth columns
  Dockerfile
  scripts/comprehensive-db-migrate.js
  scripts/docker-entrypoint-fixed.sh
Owners: @team-lead, @senior-dev, @devops-lead

fix: correct database column naming from camelCase to snake_case
  Dockerfile
  scripts/comprehensive-db-migrate.js
  scripts/docker-entrypoint-fixed.sh
  scripts/quick-schema-fix.js
Owners: @team-lead, @senior-dev, @devops-lead

fix: comprehensive fixes for deployment issues
  Dockerfile
  scripts/comprehensive-migration.js
  scripts/docker-entrypoint-fixed.sh
  scripts/fix-column-naming.js
  scripts/fix-column-naming.sql
  src/lib/homepage-settings.ts
Owners: @team-lead, @senior-dev, @devops-lead

fix: conditionally include S3ClientUploadHandler in import map based on environment
  scripts/generate-importmap.js
Owners: @devops-lead

fix: add resilient Payload initialization with retry logic for Docker deployments
  scripts/reset-payload.js
  src/app/api/health/route.ts
  src/lib/safe-payload.ts
Owners: @devops-lead, @team-lead, @senior-dev

feat: complete deployment fixes for all runtime issues
  Dockerfile
  docs/DEPLOYMENT_TROUBLESHOOTING.md
  scripts/generate-importmap.js
  src/lib/homepage-settings.ts
Owners: @team-lead, @senior-dev, @devops-lead

fix: remove unused import to fix build error
  src/lib/homepage-settings.ts
Owners: @team-lead, @senior-dev

fix: ensure S3 storage config matches between build and runtime
  scripts/generate-importmap.js
  src/payload.config.ts
Owners: @devops-lead, @team-lead, @senior-dev

fix: add pages.status column migration and update docker build
  Dockerfile
  scripts/docker-entrypoint-fixed.sh
  scripts/fix-pages-status.js
Owners: @team-lead, @senior-dev, @devops-lead

fix: resolve remaining deployment issues
  src/components/admin/ClientConfigProvider.tsx
  src/components/admin/Root.tsx
  src/lib/client-config.ts
  src/lib/database-optimizations.ts
  src/middleware.ts
  src/middleware/static-files.ts
Owners: @team-lead, @senior-dev

fix: resolve TypeScript and config issues
  next.config.ts
  src/components/admin/ClientConfigProvider.tsx
Owners: @team-lead, @senior-dev

fix: add fallback migration script for missing Payload tables
  scripts/docker-entrypoint.sh
  scripts/fix-missing-tables.js
  scripts/run-payload-migrations.js
Owners: @devops-lead

fix: complete deployment cleanup - remove Neon/Vercel dependencies
  CLAUDE.md
  README.md
  docs/COOLIFY_DATABASE_SETUP.md
  docs/DATABASE_MIGRATION_GUIDE.md
  docs/DEPLOYMENT_GUIDE.md
  docs/DEPLOYMENT_TROUBLESHOOTING.md
  docs/SELF_HOSTED_DEPLOYMENT.md
  docs/architecture/README.md
  package.json
  scripts/comprehensive-db-migrate.js
  scripts/comprehensive-migration.js
  scripts/direct-db-migrate.js
  scripts/direct-migrate.js
  scripts/docker-entrypoint-fixed.sh
  scripts/docker-entrypoint.sh
  scripts/emergency-migrate.js
  scripts/fix-column-naming.js
  scripts/fix-column-naming.sql
  scripts/fix-database-migrations.sh
  scripts/fix-missing-tables.js
  scripts/fix-pages-status.js
  scripts/manual-db-setup.sql
  scripts/migrate-database.mjs
  scripts/migrate-production.sh
  scripts/payload-migrate.js
  scripts/quick-schema-fix.js
  scripts/reset-payload.js
  scripts/run-migrations-prod.js
  scripts/run-migrations-simple.js
  scripts/run-migrations.js
  scripts/run-payload-migrations.js
  scripts/setup-production-db.sh
  src/app/(payload)/admin/[[...segments]]/error.tsx
  src/app/api/health/route.ts
  src/collections/Invoices.ts
  src/collections/Media.ts
  src/collections/Scripts.ts
  src/lib/validate-env.ts
Owners: @team-lead, @senior-dev, @devops-lead, @backend-systems-architect

fix: update Dockerfile to use consolidated migration script
  Dockerfile
Owners: @team-lead, @senior-dev

fix: improve database migration handling for missing tables
  scripts/docker-entrypoint.sh
  scripts/payload-migrate.js
Owners: @devops-lead

fix: add missing database columns and fix import map for production
  Dockerfile
  docs/DATABASE_MIGRATION_FIX.md
  scripts/check-database-schema.js
  scripts/complete-schema-migration.js
  scripts/docker-entrypoint.sh
  scripts/fix-all-locales-tables.js
  scripts/fix-production-database.js
  scripts/fix-voiceover-upload-columns.js
  scripts/fix-voiceovers-locales.js
  scripts/generate-importmap.js
  scripts/payload-migrate.js
  src/payload.config.ts
Owners: @team-lead, @senior-dev, @devops-lead

fix: correct import path for minio-adapter
  src/payload.config.ts
Owners: @team-lead, @senior-dev

fix: add production database fix scripts and update entrypoint
  scripts/docker-entrypoint.sh
  scripts/fix-voiceovers-table-final.js
  scripts/quick-production-fix.js
Owners: @devops-lead

fix: resolve production issues - database schema, upload handler, and cleanup
  scripts/cleanup-project.sh
  scripts/fix-database-complete.js
  scripts/fix-database-locales.js
  scripts/fix-locales-tables.sql
  scripts/payload-migrate.js
  scripts/quick-fix-locales.sh
  src/components/admin/Root.tsx
Owners: @devops-lead, @team-lead, @senior-dev

fix: remove invalid 'public' schema name from PostgreSQL adapter
  src/payload.config.ts
Owners: @team-lead, @senior-dev

fix: resolve production issues - database schema and import map
  DEPLOYMENT_FIX.md
  Dockerfile
  docs/N8N_SECURITY_GUIDE.md
  scripts/docker-entrypoint.sh
  scripts/fix-importmap-quick.sh
  scripts/fix-production-issues.js
  scripts/generate-importmap.js
  scripts/hotfix-production.sql
Owners: @team-lead, @senior-dev, @devops-lead

fix: comprehensive production fixes for localization and import map issues
  Dockerfile
  scripts/docker-entrypoint.sh
  scripts/fix-localization-views.sql
  scripts/fix-production-comprehensive.js
Owners: @team-lead, @senior-dev, @devops-lead

fix: use fake DATABASE_URL for local build validation
  scripts/build-for-validation.js
  scripts/validate-build-pre-push.js
Owners: @devops-lead

.github/CODEOWNERS:

# Code Owners for Architecture and Build Integrity

# Global owners for all files
* @team-lead @senior-dev

# Architecture and configuration
/src/domains/ @backend-systems-architect
/src/collections/ @backend-systems-architect
/src/config/ @security-auditor @backend-systems-architect
CLAUDE.md @team-lead
.github/ @devops-lead

# Build and deployment
package.json @devops-lead @team-lead
tsconfig.json @backend-systems-architect
vercel.json @devops-lead
/scripts/ @devops-lead

# Critical security files
/src/lib/auth-middleware.ts @security-auditor
/src/lib/csrf.ts @security-auditor
/src/config/security.ts @security-auditor

# Domain-specific ownership
/src/domains/email/ @email-specialist @backend-systems-architect
/src/domains/billing/ @billing-specialist @backend-systems-architect
/src/domains/booking/ @booking-specialist @backend-systems-architect
/src/domains/voiceover/ @content-specialist @backend-systems-architect
