Repository FROMJASP/14voices, changes with the owners that .github/CODEOWNERS names for each.
All owners: @team-lead, @senior-dev, @backend-systems-architect, @security-auditor, @devops-lead, @email-specialist, @billing-specialist, @booking-specialist, @content-specialist

fix: resolve all production build errors and warnings
  .eslintignore
  .github/workflows/ci.yml
  BUILD_FAILURE_PREVENTION.md
  CLAUDE.md
  next.config.ts
  package.json
  scripts/validate-architecture.js
  scripts/validate-dependencies.js
  src/scripts/reset-admin-access.ts
Owners: @team-lead, @senior-dev, @devops-lead

fix: resolve dotenv import issue and add comprehensive build validation
  .husky/pre-push
  BUILD_FAILURE_PREVENTION.md
  CLAUDE.md
  package.json
  scripts/validate-build-pre-push.js
  scripts/validate-dependencies.js
  src/scripts/reset-admin-access.ts
Owners: @team-lead, @senior-dev, @devops-lead

fix: resolve TypeScript dotenv import error and validation script
  package-lock.json
  scripts/validate-build-pre-push.js
  src/scripts/reset-admin-access.ts
Owners: @team-lead, @senior-dev, @devops-lead

fix: move dotenv to dependencies and add guards for seed scripts
  package.json
  src/seed/index.ts
  src/seed/run-seed.ts
Owners: @devops-lead, @team-lead, @senior-dev

fix: resolve production build issues and security vulnerabilities
  .eslintrc.json
  .gitignore
  .sentryclirc
  CLAUDE.md
  bun.lockb
  next.config.ts
  package.json
  scripts/validate-build-pre-push.js
  scripts/validate-dependencies.js
  scripts/validate-test-dependencies.js
  src/scripts/reset-admin-access.ts
  tsconfig.build.json
  tsconfig.json
  tsconfig.typecheck.json
Owners: @team-lead, @senior-dev, @devops-lead, @backend-systems-architect

docs: update CLAUDE.md with recent production fixes
  CLAUDE.md
Owners: @team-lead

enhance: improve mobile menu blur effect and fix layout TypeScript warnings
  src/app/(app)/(with-global-layout)/layout.tsx
  src/components/common/layout/header/navigation/MobileMenu.tsx
Owners: @team-lead, @senior-dev

fix: enhance mobile menu backdrop blur with stronger effect and cross-browser support
  BUILD_FAILURE_PREVENTION.md
  CLAUDE.md
  README.md
  public/header-image.png
  src/app/(app)/(with-global-layout)/page.tsx
  src/app/(app)/globals.css
  src/app/(app)/layout.tsx
  src/components/admin/BannerPreview.tsx
  src/components/common/layout/GlobalLayout.tsx
  src/components/common/layout/header/Header.tsx
  src/components/common/layout/header/announcement-bar/AnnouncementBar.tsx
  src/components/common/layout/header/announcement-bar/AnnouncementBar.types.ts
  src/components/common/layout/header/announcement-bar/index.ts
  src/components/common/layout/header/index.ts
  src/components/common/layout/header/info-navbar/InfoNavbar.tsx
  src/components/common/layout/header/info-navbar/InfoNavbar.types.ts
  src/components/common/layout/header/info-navbar/index.ts
  src/components/common/layout/header/logo/Logo.tsx
  src/components/common/layout/header/logo/index.ts
  src/components/common/layout/header/navigation/MobileMenu.tsx
  src/components/common/layout/header/navigation/Navigation.tsx
  src/components/common/layout/header/navigation/Navigation.types.ts
  src/components/common/layout/header/navigation/NavigationItem.tsx
  src/components/common/layout/header/navigation/ThemeToggle.tsx
  src/components/common/layout/header/navigation/index.ts
  src/components/domains/voiceover/VoiceoverSearchField.tsx
  src/components/domains/voiceover/index.ts
  src/components/features/homepage/HeroSection.tsx
  src/components/features/homepage/HomepageContainer.tsx
  src/components/features/homepage/index.ts
  src/globals/HomepageSettings.ts
  src/globals/SiteSettings.ts
  src/lib/homepage-settings.ts
  src/payload.config.ts
Owners: @team-lead, @senior-dev

fix: enhance mobile menu backdrop blur with multi-layer approach for better visibility
  src/app/(app)/globals.css
  src/components/common/layout/header/navigation/MobileMenu.tsx
Owners: @team-lead, @senior-dev

fix: use portal rendering for mobile menu to fix backdrop blur
  src/components/common/layout/header/navigation/MobileMenu.tsx
Owners: @team-lead, @senior-dev

fix: simplify mobile menu blur effect implementation
  src/app/(app)/globals.css
  src/components/common/layout/header/navigation/MobileMenu.tsx
  src/components/common/layout/header/navigation/Navigation.tsx
Owners: @team-lead, @senior-dev

feat: improve mobile responsiveness and fix scroll locking
  src/app/(app)/globals.css
  src/components/common/layout/header/navigation/MobileMenu.tsx
  src/components/common/layout/header/navigation/Navigation.tsx
  src/components/features/homepage/HeroSection.tsx
  src/hooks/useScrollLock.ts
Owners: @team-lead, @senior-dev

redesign: revamp voiceover detail page with elegant layout and enhanced booking form
  src/app/(app)/(with-global-layout)/voiceovers/[slug]/VoiceoverDetailClient.tsx
Owners: @team-lead, @senior-dev

feat: redesign demo section with smart audio player
  src/components/domains/voiceover/SmartAudioPlayer.tsx
  src/components/domains/voiceover/VoiceoverDetailClient.tsx
  src/components/domains/voiceover/index.ts
Owners: @team-lead, @senior-dev

fix: re-enable Vercel Blob storage and adjust file validation for production
  src/collections/Media.ts
  src/payload.config.ts
Owners: @backend-systems-architect, @team-lead, @senior-dev

feat: migrate from Vercel/Cloudflare to self-hosted MinIO storage
  .dockerignore
  .gitignore
  Dockerfile
  bun.lockb
  coolify.json
  docker-compose.yml
  docs/SELF_HOSTED_DEPLOYMENT.md
  next.config.ts
  package-lock.json
  package.json
  scripts/generate-importmap.js
  scripts/setup-minio.sh
  src/app/api/admin/migrate-storage/route.ts
  src/app/uploads/[...path]/route.ts
  src/collections/Invoices.ts
  src/collections/Media.ts
  src/collections/Scripts.ts
  src/components/common/widgets/media/OptimizedImage.tsx
  src/config/index.ts
  src/lib/env-validation.ts
  src/lib/storage/blob-paths.ts
  src/lib/storage/errors.ts
  src/lib/storage/index.ts
  src/lib/storage/migration.ts
  src/lib/storage/minio-adapter.ts
  src/payload.config.ts
Owners: @team-lead, @senior-dev, @devops-lead, @backend-systems-architect, @security-auditor

fix: remove libc6-compat from Dockerfile dependencies
  Dockerfile
Owners: @team-lead, @senior-dev

fix: copy scripts directory before bun install in Dockerfile
  Dockerfile
Owners: @team-lead, @senior-dev

fix: upgrade Bun to 1.1.38 for TextEncoderStream support
  Dockerfile
Owners: @team-lead, @senior-dev

fix: generate Payload import map before building
  Dockerfile
Owners: @team-lead, @senior-dev

fix: use Node.js for Payload CLI commands in Docker build
  Dockerfile
Owners: @team-lead, @senior-dev

fix: comprehensive production deployment fixes and security hardening
  Dockerfile
  docker-compose.yml
  docs/SECURITY.md
  src/lib/security-logger.ts
  src/lib/validate-env.ts
  src/middleware.ts
Owners: @team-lead, @senior-dev

fix: improve Docker import map generation with multiple fallbacks
  Dockerfile
  scripts/generate-importmap.js
Owners: @team-lead, @senior-dev, @devops-lead

fix: improve import map generation in Docker build
  Dockerfile
  scripts/generate-importmap.js
Owners: @team-lead, @senior-dev, @devops-lead

fix: generate import map during pre-push validation
  scripts/validate-build-pre-push.js
Owners: @devops-lead

fix: simplify import map generation in Docker build
  Dockerfile
Owners: @team-lead, @senior-dev

fix: include import map generation in build script
  Dockerfile
  package.json
  scripts/generate-importmap.js
Owners: @team-lead, @senior-dev, @devops-lead

fix: lazy initialize Resend API to prevent build failures
  Dockerfile
  src/domains/email/services/EmailBatchProcessor.ts
  src/lib/email/renderer.ts
  src/lib/email/resend-marketing.ts
Owners: @team-lead, @senior-dev, @email-specialist, @backend-systems-architect

fix: add sendEmail method to ResendMarketingService
  src/app/api/campaigns/[id]/send/route.ts
  src/lib/email/resend-marketing.ts
Owners: @team-lead, @senior-dev

fix: ensure Resend email has required content fields
  src/lib/email/resend-marketing.ts
Owners: @team-lead, @senior-dev

fix: add type assertion for Resend email options
  src/lib/email/resend-marketing.ts
Owners: @team-lead, @senior-dev

fix: disable static generation for dynamic pages to prevent build-time database errors
  src/app/(app)/(with-global-layout)/[...slug]/page.tsx
Owners: @team-lead, @senior-dev

fix: disable static generation for all database-accessing pages
  src/app/(app)/(with-global-layout)/page.tsx
  src/app/(app)/(with-global-layout)/voiceovers/[slug]/page.tsx
  src/app/(app)/order/[production]/page.tsx
Owners: @team-lead, @senior-dev

fix: prevent database connections during Docker build
  Dockerfile
  next.config.ts
  src/app/(app)/(with-global-layout)/layout.tsx
  src/app/(app)/metadata.ts
Owners: @team-lead, @senior-dev

fix: add build-time database checks to remaining pages
  src/app/(app)/(with-global-layout)/[...slug]/page.tsx
  src/app/(app)/(with-global-layout)/page.tsx
Owners: @team-lead, @senior-dev

docs: update deployment documentation with self-hosted lessons learned
  CLAUDE.md
  docs/SELF_HOSTED_DEPLOYMENT.md
Owners: @team-lead, @senior-dev

feat: add database migration scripts and guide
  docs/DATABASE_MIGRATION_GUIDE.md
  scripts/setup-production-db.sh
Owners: @team-lead, @senior-dev, @devops-lead

feat: add migration solutions for production deployment
  docker-entrypoint.sh
  scripts/migrate-production.sh
  src/app/api/admin/migrate/route.ts
Owners: @team-lead, @senior-dev, @devops-lead

fix: prevent Redis connection error spam and improve fallback handling
  CLAUDE.md
  src/lib/cache/index.ts
Owners: @team-lead, @senior-dev

fix: update Docker configuration to ensure Next.js server binds correctly
  Dockerfile
  coolify.json
Owners: @team-lead, @senior-dev

.github/CODEOWNERS:

# Code Owners for Architecture and Build Integrity

# Global owners for all files
* @team-lead @senior-dev

# Architecture and configuration
/src/domains/ @backend-systems-architect
/src/collections/ @backend-systems-architect
/src/config/ @security-auditor @backend-systems-architect
CLAUDE.md @team-lead
.github/ @devops-lead

# Build and deployment
package.json @devops-lead @team-lead
tsconfig.json @backend-systems-architect
vercel.json @devops-lead
/scripts/ @devops-lead

# Critical security files
/src/lib/auth-middleware.ts @security-auditor
/src/lib/csrf.ts @security-auditor
/src/config/security.ts @security-auditor

# Domain-specific ownership
/src/domains/email/ @email-specialist @backend-systems-architect
/src/domains/billing/ @billing-specialist @backend-systems-architect
/src/domains/booking/ @booking-specialist @backend-systems-architect
/src/domains/voiceover/ @content-specialist @backend-systems-architect
