Repository FROMJASP/14voices, changes with the owners that .github/CODEOWNERS names for each.
All owners: @team-lead, @senior-dev, @backend-systems-architect, @security-auditor, @devops-lead, @email-specialist, @billing-specialist, @booking-specialist, @content-specialist

fix: improve navigation performance from voiceover pages to homepage
  src/app/(app)/(with-global-layout)/[[...slug]]/page.tsx
  src/components/common/widgets/PageRenderer.tsx
  src/components/domains/voiceover/VoiceoverDetailClient.tsx
Owners: @team-lead, @senior-dev

feat: collapse page layout blocks by default in admin panel
  src/collections/Pages.ts
Owners: @backend-systems-architect

fix: hide categories collection from sidebar while keeping it accessible via tabs
  CLAUDE.md
  src/components/admin/NavIconsCSS.tsx
Owners: @team-lead, @senior-dev

fix: resolve blog section infinite loading issue
  src/app/api/public/blog-posts/route.ts
  src/app/api/public/categories/route.ts
  src/collections/BlogPosts.ts
  src/collections/Pages/blocks/index.ts
  src/components/blocks/BlogSection1.tsx
  src/components/common/widgets/PageRenderer.tsx
  src/components/features/homepage/HeroVariant2.tsx
Owners: @team-lead, @senior-dev, @backend-systems-architect

fix: add missing blog component files
  src/components/blocks/BlogContent.tsx
  src/components/blocks/BlogPostHeader.tsx
Owners: @team-lead, @senior-dev

fix: resolve JSX namespace TypeScript error
  src/components/blocks/BlogContent.tsx
Owners: @team-lead, @senior-dev

fix: prepare codebase for production
  src/app/(app)/(with-global-layout)/blog/[slug]/page.tsx
  src/components/blocks/BlogSection1.tsx
  src/scripts/create-blog-template.ts
Owners: @team-lead, @senior-dev

fix: remove create-blog-template script causing build error
  src/scripts/create-blog-template.ts
Owners: @team-lead, @senior-dev

chore: trigger deployment
  .deployment-trigger
Owners: @team-lead, @senior-dev

fix: resolve build timeout by optimizing blog queries
  src/app/(app)/(with-global-layout)/blog/[slug]/page.tsx
  src/app/api/site-settings/route.ts
  src/components/blocks/BlogSection1.tsx
  src/components/common/widgets/feedback/MaintenanceModeWrapper.tsx
Owners: @team-lead, @senior-dev

fix: remove unused import causing TypeScript error
  src/app/api/site-settings/route.ts
Owners: @team-lead, @senior-dev

fix: BlogSection1 component loading and preview issues
  src/components/blocks/BlogSection1.tsx
Owners: @team-lead, @senior-dev

fix: PageRenderer block rendering issues
  src/components/common/widgets/PageRenderer.tsx
  src/scripts/fix-page-blocks.ts
Owners: @team-lead, @senior-dev

fix: improve BlogSection1 error handling and timeouts
  src/app/api/test-db/route.ts
  src/components/blocks/BlogSection1.tsx
  src/scripts/check-blog-posts.ts
Owners: @team-lead, @senior-dev

fix: blog posts API timeout issue
  src/app/api/debug/blog-posts/route.ts
  src/app/api/public/blog-posts/route.ts
  src/components/blocks/BlogSection1.tsx
Owners: @team-lead, @senior-dev

fix: resolve TypeScript errors in blog posts API
  src/app/api/public/blog-posts/route.ts
  src/scripts/check-blog-posts.ts
Owners: @team-lead, @senior-dev

feat: add caching layer and improve API performance
  src/app/api/debug/blog-posts/route.ts
  src/app/api/health/route.ts
  src/app/api/public/blog-posts/route.ts
  src/app/api/public/blog-section/route.ts
  src/app/api/public/categories/route.ts
  src/collections/Categories.ts
  src/components/blocks/BlogSection1.tsx
  src/lib/payload-cached.ts
  src/scripts/test-blog-query.ts
Owners: @team-lead, @senior-dev, @backend-systems-architect

fix: resolve TypeScript errors in blog-section API and test script
  src/app/api/public/blog-section/route.ts
  src/scripts/test-blog-query.ts
Owners: @team-lead, @senior-dev

fix: remove dark mode background from blog posts and add consistent category badge styling
  src/components/blocks/BlogSection1.tsx
Owners: @team-lead, @senior-dev

feat: auto-collapse page layout blocks in admin panel
  src/components/admin/AdminEnhancements.tsx
  src/components/admin/CollapsePageBlocks.tsx
  src/components/admin/admin-overrides.css
Owners: @team-lead, @senior-dev

feat: enhance block preview UI with thumbnails and descriptions
  public/admin/block-previews/blog-section-1.jpg
  public/admin/block-previews/blog-section-1.svg
  public/admin/block-previews/content-1.jpg
  public/admin/block-previews/content-v1.svg
  public/admin/block-previews/hero-1.jpg
  public/admin/block-previews/hero-2.jpg
  public/admin/block-previews/hero-v1.svg
  public/admin/block-previews/hero-v2.svg
  public/admin/block-previews/products-1.jpg
  public/admin/block-previews/voiceover-v1.svg
  src/collections/Pages/blocks/index.ts
  src/components/admin/NavIconsCSS.tsx
Owners: @team-lead, @senior-dev, @backend-systems-architect

fix: page blocks can now be expanded in admin panel
  src/components/admin/AdminEnhancements.tsx
  src/components/admin/admin-overrides.css
Owners: @team-lead, @senior-dev

feat: create unified BlogPost block with enhanced Lexical formatting
  src/app/(app)/(with-global-layout)/blog-preview/template/route.ts
  src/app/(app)/(with-global-layout)/blog/[slug]/page.tsx
  src/collections/Pages.ts
  src/collections/Pages/blocks/index.ts
  src/collections/Users.ts
  src/components/blocks/BlogPostBlock.tsx
  src/components/common/widgets/PageRenderer.tsx
Owners: @team-lead, @senior-dev, @backend-systems-architect

fix: resolve blog post 500 errors and improve template system
  src/app/(app)/(with-global-layout)/blog/[slug]/page.tsx
  src/components/blocks/BlogPostBlock.tsx
  src/scripts/ensure-blog-template.ts
Owners: @team-lead, @senior-dev

fix: correct Neon client parameterized query usage
  src/lib/neon/client.ts
Owners: @team-lead, @senior-dev

fix: add dev.14voices.com to CORS allowed origins
  src/config/security.ts
Owners: @security-auditor

fix: disable strict-dynamic CSP and add production domains
  src/config/security.ts
Owners: @security-auditor

feat: implement proper nonce-based CSP
  CLAUDE.md
  src/app/(app)/layout.tsx
  src/app/(app)/theme-script.tsx
  src/components/common/NonceProvider.tsx
  src/config/security.ts
  src/lib/csp-nonce.ts
  src/middleware.ts
Owners: @team-lead, @senior-dev, @security-auditor

fix: resolve CSP violations blocking UI rendering
  src/config/security.ts
Owners: @security-auditor

feat: add volume control to voiceover audio player
  src/components/features/voiceover/AnimatedPlayer.tsx
  src/components/ui/Slider.tsx
Owners: @team-lead, @senior-dev

feat: Update Next.js to 15.5.3 and Payload CMS to 3.55.1
  CLAUDE.md
  bun.lockb
  next.config.ts
  package.json
  src/app/(app)/(with-global-layout)/[[...slug]]/page.tsx
  src/app/api/debug/blog-posts/route.ts
  src/components/common/transitions/ViewTransitionsProvider.tsx
  src/components/common/widgets/PageRenderer.tsx
  src/components/features/voiceover/AnimatedPlayer.tsx
Owners: @team-lead, @senior-dev, @devops-lead

fix: improve tooltip positioning and add volume control to voiceover cards
  src/components/features/voiceover/AnimatedPlayer.tsx
  src/components/features/voiceover/VoiceoverPlayerCard.tsx
Owners: @team-lead, @senior-dev

fix: correct type for createdServices to use number IDs
  src/seed/extra-services.ts
Owners: @team-lead, @senior-dev

refactor: clean up codebase for production readiness
  .gitignore
  src/scripts/check-blog-posts.ts
  src/scripts/clear-blog-layout.ts
  src/scripts/create-home-page.ts
  src/scripts/ensure-blog-template.ts
  src/scripts/fix-hero-columns.sql
  src/scripts/fix-page-blocks.ts
  src/scripts/migrate-voiceover-slugs.ts
  src/scripts/quick-seed-productions.sh
  src/scripts/reset-admin-access.ts
  src/scripts/test-blog-query.ts
  src/scripts/test-voiceover-slugs.ts
  src/scripts/update-last-login.ts
  src/seed/pages.ts
  src/seed/productions.ts
  src/seed/run-seed.ts
  src/seed/seed-productions.ts
Owners: @team-lead, @senior-dev

fix: resolve Hero 1 block rendering and image display issues
  src/app/(app)/(with-global-layout)/[[...slug]]/page.tsx
  src/components/common/widgets/PageRenderer.tsx
  src/lib/homepage-utils.ts
Owners: @team-lead, @senior-dev

fix: production hero image URL construction
  src/lib/homepage-utils.ts
Owners: @team-lead, @senior-dev

fix: correct S3 media URL path construction
  src/lib/homepage-utils.ts
Owners: @team-lead, @senior-dev

fix: resolve Hero1 block image display issue on production
  src/collections/Pages/blocks/index.ts
  src/lib/homepage-utils.ts
Owners: @backend-systems-architect, @team-lead, @senior-dev

fix: force S3 URLs for media files in production
  src/collections/Media.ts
  src/collections/Pages/blocks/index.ts
Owners: @backend-systems-architect

fix: eliminate double slashes in media URLs causing 400 errors
  src/collections/Media.ts
  src/collections/Pages/blocks/index.ts
  src/lib/homepage-utils.ts
Owners: @backend-systems-architect, @team-lead, @senior-dev

.github/CODEOWNERS:

# Code Owners for Architecture and Build Integrity

# Global owners for all files
* @team-lead @senior-dev

# Architecture and configuration
/src/domains/ @backend-systems-architect
/src/collections/ @backend-systems-architect
/src/config/ @security-auditor @backend-systems-architect
CLAUDE.md @team-lead
.github/ @devops-lead

# Build and deployment
package.json @devops-lead @team-lead
tsconfig.json @backend-systems-architect
vercel.json @devops-lead
/scripts/ @devops-lead

# Critical security files
/src/lib/auth-middleware.ts @security-auditor
/src/lib/csrf.ts @security-auditor
/src/config/security.ts @security-auditor

# Domain-specific ownership
/src/domains/email/ @email-specialist @backend-systems-architect
/src/domains/billing/ @billing-specialist @backend-systems-architect
/src/domains/booking/ @booking-specialist @backend-systems-architect
/src/domains/voiceover/ @content-specialist @backend-systems-architect
