Repository FROMJASP/14voices, changes with the owners that .github/CODEOWNERS names for each.
All owners: @team-lead, @senior-dev, @backend-systems-architect, @security-auditor, @devops-lead, @email-specialist, @billing-specialist, @booking-specialist, @content-specialist

.github/CODEOWNERS:

# Code Owners for Architecture and Build Integrity

# Global owners for all files
* @team-lead @senior-dev

# Architecture and configuration
/src/domains/ @backend-systems-architect
/src/collections/ @backend-systems-architect
/src/config/ @security-auditor @backend-systems-architect
CLAUDE.md @team-lead
.github/ @devops-lead

# Build and deployment
package.json @devops-lead @team-lead
tsconfig.json @backend-systems-architect
vercel.json @devops-lead
/scripts/ @devops-lead

# Critical security files
/src/lib/auth-middleware.ts @security-auditor
/src/lib/csrf.ts @security-auditor
/src/config/security.ts @security-auditor

# Domain-specific ownership
/src/domains/email/ @email-specialist @backend-systems-architect
/src/domains/billing/ @billing-specialist @backend-systems-architect
/src/domains/booking/ @booking-specialist @backend-systems-architect
/src/domains/voiceover/ @content-specialist @backend-systems-architect

fix: simple hero image fix - handle malformed URLs in frontend
  src/collections/Media.ts
  src/collections/Pages/blocks/index.ts
  src/components/features/homepage/HeroSection.tsx
  src/lib/homepage-utils.ts
Owners: @backend-systems-architect, @team-lead, @senior-dev

fix: simplify Hero1 image handling to match working Content1 block
  src/components/common/widgets/PageRenderer.tsx
Owners: @team-lead, @senior-dev

fix: handle rich text fields in Hero1 block properly
  src/components/common/widgets/PageRenderer.tsx
Owners: @team-lead, @senior-dev

fix: Hero1 block image display and Next.js hostname configuration
  next.config.ts
  src/components/common/widgets/PageRenderer.tsx
  src/components/features/homepage/HeroSection.tsx
  src/lib/homepage-utils.ts
Owners: @team-lead, @senior-dev

fix: add missing processSteps and stats fields to Hero1 block rendering
  src/components/common/widgets/PageRenderer.tsx
  src/seed/pages.ts
Owners: @team-lead, @senior-dev

fix: resolve Payload CMS admin sidebar height issue
  src/components/admin/NavIconsCSS.tsx
  src/components/admin/admin-overrides.css
Owners: @team-lead, @senior-dev

fix: make productions collection create button icon visible in light mode
  src/components/admin/NavIconsCSS.tsx
  src/components/admin/admin-overrides.css
Owners: @team-lead, @senior-dev

Fix admin sidebar: add sticky logout section and remove scrollbar padding
  src/components/admin/BeforeNavLinks.tsx
  src/components/admin/admin-overrides.css
Owners: @team-lead, @senior-dev

fix: resolve productions collection access and video thumbnail issues
  src/app/(payload)/admin/importMap.js
  src/collections/Media.ts
  src/components/admin/admin-overrides.css
  src/middleware.ts
Owners: @team-lead, @senior-dev, @backend-systems-architect

fix: resolve TypeScript errors in Media collection adminThumbnail function
  src/collections/Media.ts
Owners: @backend-systems-architect

fix: remove MediaPreview component to fix build error
  VIDEO_THUMBNAIL_SOLUTION.md
  src/app/(payload)/admin/importMap.js
  src/collections/Media.ts
Owners: @team-lead, @senior-dev, @backend-systems-architect

fix: Media collection thumbnail display and filesize formatting
  src/collections/Media.ts
  src/components/admin/cells/FileSizeCell.tsx
  src/middleware.ts
Owners: @backend-systems-architect, @team-lead, @senior-dev

fix: update bun.lockb to match dependencies
  bun.lockb
Owners: @team-lead, @senior-dev

fix: resolve production image loading issues
  src/app/(payload)/admin/importMap.js
  src/collections/Media.ts
  src/collections/Pages/blocks/hero.ts
  src/collections/Pages/blocks/linkToBlog.ts
  src/components/admin/MediaDebug.tsx
  src/components/admin/MediaThumbnailFix.tsx
  src/components/admin/admin-overrides.css
  src/components/admin/cells/MediaThumbnailCell.tsx
  src/components/admin/styles/media-thumbnail-fix.css
  src/hooks/userAvatar.ts
  src/lib/storage/minio-adapter.ts
  src/scripts/debug-media-thumbnails.ts
  src/scripts/set-test-filesizes.ts
  src/scripts/update-media-filesizes.ts
Owners: @team-lead, @senior-dev, @backend-systems-architect

fix: apply image URL handling fix to BlogSection1 block
  src/components/blocks/BlogSection1.tsx
Owners: @team-lead, @senior-dev

fix: resolve blog post 505 errors in production
  src/app/(app)/(with-global-layout)/blog/[slug]/page.tsx
  src/app/(app)/order/[production]/page.tsx
  src/app/api/performance/metrics/route.ts
  src/app/api/public/extra-services/route.ts
  src/app/api/public/productions/route.ts
  src/app/sitemap.ts
  src/components/blocks/BlogPostBlock.tsx
  src/components/blocks/PriceCalculator.tsx
  src/components/common/widgets/PageRenderer.tsx
  src/hooks/useProductions.ts
Owners: @team-lead, @senior-dev

fix: resolve API route conflict preventing production creation
  src/app/api/productions/route.ts
  src/components/blocks/PriceCalculator.tsx
Owners: @team-lead, @senior-dev

fix: handle special characters in voiceover URL slugs
  src/collections/Voiceovers.ts
  src/utilities/__tests__/slugify.test.ts
  src/utilities/slugify.ts
Owners: @backend-systems-architect, @team-lead, @senior-dev

fix: remove unused firstName variable in Voiceovers collection
  src/collections/Voiceovers.ts
Owners: @backend-systems-architect

fix: prepare codebase for production deployment
  src/lib/api-utils.ts
  tsconfig.json
  tsconfig.typecheck.json
Owners: @team-lead, @senior-dev, @backend-systems-architect

feat: add Docker support for Coolify deployment
  .dockerignore
  Dockerfile
  next.config.ts
Owners: @team-lead, @senior-dev

fix: optimize Dockerfile for 14voices codebase
  Dockerfile
Owners: @team-lead, @senior-dev

fix: skip postinstall script in Docker build
  Dockerfile
Owners: @team-lead, @senior-dev

fix: simplify Dockerfile and skip Payload generation
  Dockerfile
Owners: @team-lead, @senior-dev

fix: add required environment variables for Docker build
  Dockerfile
Owners: @team-lead, @senior-dev

fix: accept Coolify build arguments and convert to env vars
  Dockerfile
Owners: @team-lead, @senior-dev

fix: add dynamic export to all API routes to fix Docker build
  bun.lockb
  package.json
  src/app/api/[...slug]/route.ts
  src/app/api/admin/migrate/route.ts
  src/app/api/analytics/campaigns/route.ts
  src/app/api/audiences/sync/route.ts
  src/app/api/cache/clear/route.ts
  src/app/api/cache/metrics/route.ts
  src/app/api/campaigns/[id]/route.ts
  src/app/api/campaigns/[id]/send/route.ts
  src/app/api/campaigns/route.ts
  src/app/api/contacts/import/route.ts
  src/app/api/cron/process-emails/route.ts
  src/app/api/csrf/route.ts
  src/app/api/email/analytics/route.ts
  src/app/api/email/preview/route.ts
  src/app/api/email/test/route.ts
  src/app/api/forms/[id]/route.ts
  src/app/api/forms/submit/route.ts
  src/app/api/globals/site-settings/route.ts
  src/app/api/health/cache/route.ts
  src/app/api/health/email-system/route.ts
  src/app/api/health/performance/route.ts
  src/app/api/health/route.ts
  src/app/api/neon/health/route.ts
  src/app/api/public-voiceovers/route.ts
  src/app/api/public/blog-posts/route.ts
  src/app/api/public/blog-section/route.ts
  src/app/api/public/categories/route.ts
  src/app/api/public/extra-services/route.ts
  src/app/api/public/faq-settings/route.ts
  src/app/api/public/faq/route.ts
  src/app/api/public/productions/route.ts
  src/app/api/scripts/[id]/route.ts
  src/app/api/site-settings/route.ts
  src/app/api/test-db/route.ts
  src/app/api/testimonials/route.ts
  src/app/api/uploadthing/route.ts
  src/app/api/webhooks/resend/route.ts
Owners: @team-lead, @senior-dev, @devops-lead

fix: resolve Docker build failures with Tailwind CSS v4
  Dockerfile
  src/app/(app)/global.css
  src/app/(app)/layout.tsx
Owners: @team-lead, @senior-dev

fix: separate postinstall step in Dockerfile to fix build
  Dockerfile
Owners: @team-lead, @senior-dev

fix: completely rewrite Dockerfile to use npm and fix all build issues
  Dockerfile
Owners: @team-lead, @senior-dev

fix: complete Docker build solution using Bun
  .dockerignore
  Dockerfile
  scripts/postinstall.js
Owners: @team-lead, @senior-dev, @devops-lead

fix: copy postinstall script before bun install to prevent build failure
  Dockerfile
Owners: @team-lead, @senior-dev

fix: use npm for build to avoid Bun source map issues and fix Tailwind CSS v4 error
  Dockerfile
Owners: @team-lead, @senior-dev

Downgrade Tailwind CSS from v4 to v3 for production stability
  CLAUDE.md
  Dockerfile
  bun.lockb
  package.json
  postcss.config.mjs
  src/app/(app)/global.css
  src/app/(payload)/admin.css
  tailwind.config.js
Owners: @team-lead, @senior-dev, @devops-lead

fix: add missing sonner dependency for admin login component
  package.json
  pnpm-lock.yaml
Owners: @devops-lead, @team-lead, @senior-dev

fix: add missing uuid dependency for API error handler
  package.json
  pnpm-lock.yaml
Owners: @devops-lead, @team-lead, @senior-dev

fix: add all missing dependencies (drizzle-orm and type definitions)
  package.json
  pnpm-lock.yaml
Owners: @devops-lead, @team-lead, @senior-dev

fix: resolve Docker build issues by fixing Edge Runtime and @next/env errors
  src/lib/csp-nonce.ts
  src/lib/env.ts
Owners: @team-lead, @senior-dev

fix: remove bun-types from tsconfig.json for Docker compatibility
  tsconfig.json
Owners: @backend-systems-architect

fix: resolve Docker COPY command syntax error and simplify Dockerfile
  Dockerfile
Owners: @team-lead, @senior-dev
