Repository FROMJASP/14voices, changes with the owners that .github/CODEOWNERS names for each.
All owners: @team-lead, @senior-dev, @backend-systems-architect, @security-auditor, @devops-lead, @email-specialist, @billing-specialist, @booking-specialist, @content-specialist

.github/CODEOWNERS:

# Code Owners for Architecture and Build Integrity

# Global owners for all files
* @team-lead @senior-dev

# Architecture and configuration
/src/domains/ @backend-systems-architect
/src/collections/ @backend-systems-architect
/src/config/ @security-auditor @backend-systems-architect
CLAUDE.md @team-lead
.github/ @devops-lead

# Build and deployment
package.json @devops-lead @team-lead
tsconfig.json @backend-systems-architect
vercel.json @devops-lead
/scripts/ @devops-lead

# Critical security files
/src/lib/auth-middleware.ts @security-auditor
/src/lib/csrf.ts @security-auditor
/src/config/security.ts @security-auditor

# Domain-specific ownership
/src/domains/email/ @email-specialist @backend-systems-architect
/src/domains/billing/ @billing-specialist @backend-systems-architect
/src/domains/booking/ @booking-specialist @backend-systems-architect
/src/domains/voiceover/ @content-specialist @backend-systems-architect

fix: comprehensive database schema fixes for production deployment
  Dockerfile
  scripts/docker-entrypoint.sh
  scripts/fix-all-missing-tables.js
  scripts/hotfix-container.sh
  scripts/hotfix-production-tables.sql
Owners: @team-lead, @senior-dev, @devops-lead

fix: add S3 import map generation to docker entrypoint
  Dockerfile
  scripts/docker-entrypoint.sh
Owners: @team-lead, @senior-dev, @devops-lead

feat: implement automatic database migration system
  CLAUDE.md
  Dockerfile
  docs/MIGRATIONS.md
  scripts/docker-entrypoint.sh
  scripts/fix-import-map-production.js
  scripts/generate-schema-migration.js
  scripts/run-payload-migrations.js
  src/migrations/2025_initial-schema-sync.ts
Owners: @team-lead, @senior-dev, @devops-lead

fix: add force schema sync to ensure database columns exist
  Dockerfile
  scripts/docker-entrypoint.sh
  scripts/force-schema-sync.js
Owners: @team-lead, @senior-dev, @devops-lead

fix: robust S3 client handler to prevent import map errors when S3 is disabled
  scripts/fix-production-comprehensive.js
  scripts/generate-importmap.js
  src/lib/storage/s3-client-upload-handler.ts
Owners: @devops-lead, @team-lead, @senior-dev

fix: stop comprehensive fix script from overwriting import map
  scripts/fix-production-comprehensive.js
Owners: @devops-lead

fix: upgrade all Payload packages to v3.53.0 to fix version mismatch
  CLAUDE.md
  bun.lockb
  package.json
Owners: @team-lead, @senior-dev, @devops-lead

fix: add scripts to resolve Server Components render error and admin creation
  scripts/fix-admin-creation.js
  scripts/fix-production-comprehensive.js
  scripts/fix-production-render-error.js
Owners: @devops-lead

fix: comprehensive production deployment fixes for Coolify
  Dockerfile
  docs/COOLIFY_DEPLOYMENT.md
  docs/FIX_PRODUCTION_ISSUES.md
  scripts/docker-entrypoint.sh
  scripts/fix-production-comprehensive.js
  scripts/quick-production-fix.js
Owners: @team-lead, @senior-dev, @devops-lead

fix: comprehensive Coolify deployment solution with security hardening
  COOLIFY_PRODUCTION_FIX.md
  Dockerfile
  docs/COOLIFY_DEPLOYMENT_GUIDE.md
  scripts/coolify-init.js
  scripts/database-migration-for-container.sql
  scripts/docker-entrypoint.sh
  scripts/fix-coolify-production-issues.js
  src/app/(app)/(with-global-layout)/page.tsx
  src/lib/api.ts
  src/lib/client-config.ts
  src/lib/runtime-config.ts
Owners: @team-lead, @senior-dev, @devops-lead

fix: critical Coolify deployment issues - user table schema and URL parsing
  scripts/coolify-init.js
  scripts/database-migration-for-container.sql
  scripts/fix-coolify-production-issues.js
  src/payload.config.ts
Owners: @devops-lead, @team-lead, @senior-dev

fix: resolve final Coolify deployment issues - undici error and role column
  Dockerfile
  scripts/check-user-table-structure.js
  scripts/coolify-init.js
  scripts/database-migration-for-container.sql
  scripts/direct-db-init.js
  scripts/docker-entrypoint.sh
  scripts/fix-coolify-production-issues.js
Owners: @team-lead, @senior-dev, @devops-lead

fix: simplify deployment and fix shell script syntax error
  Dockerfile
  scripts/docker-entrypoint.sh
Owners: @team-lead, @senior-dev, @devops-lead

feat: implement bulletproof deployment solution
  Dockerfile.production
  docs/DEPLOYMENT_SOLUTION.md
  package.json
  scripts/docker-entrypoint-v2.sh
  scripts/payload-migration-runner.js
  scripts/test-migration-system.js
  scripts/validate-deployment.js
Owners: @team-lead, @senior-dev, @devops-lead

fix: TypeScript type error in health check endpoint
  src/app/api/health/route.ts
Owners: @team-lead, @senior-dev

CRITICAL: Apply deployment solution to production files
  Dockerfile
  docs/deployment/COOLIFY_DEPLOYMENT_GUIDE.md
  docs/deployment/MIGRATION_SYSTEM_CHANGES.md
  scripts/check-user-table-structure.js
  scripts/coolify-init.js
  scripts/database-migration-for-container.sql
  scripts/direct-db-init.js
  scripts/docker-entrypoint.sh
  scripts/fix-coolify-production-issues.js
  scripts/generate-payload-migration.js
Owners: @team-lead, @senior-dev, @devops-lead

fix: add NODE_OPTIONS to prevent undici error during Docker build
  Dockerfile
  package.json
Owners: @team-lead, @senior-dev, @devops-lead

fix: add fake PAYLOAD_SECRET during Docker build
  Dockerfile
Owners: @team-lead, @senior-dev

fix: move Resend initialization inside handler to avoid build-time execution
  src/app/api/email/test/route.ts
Owners: @team-lead, @senior-dev

fix: remove non-existent files from Dockerfile COPY commands
  Dockerfile
Owners: @team-lead, @senior-dev

CRITICAL FIX: Add missing tsconfig.json to Docker build
  Dockerfile.emergency
  EMERGENCY_DEPLOYMENT_FIX.md
  scripts/docker-entrypoint-emergency.sh
  scripts/fix-docker-build-minimal.sh
Owners: @team-lead, @senior-dev, @devops-lead

FIX: Remove broken Sentry instrumentation causing Edge runtime errors
  instrumentation-client.ts
  instrumentation.ts
  src/instrumentation.ts
Owners: @team-lead, @senior-dev

feat: transition from self-hosted PostgreSQL to Neon database
  .claude/settings.local.json
  CHANGELOG.md
  CLAUDE.md
  COOLIFY_PRODUCTION_FIX.md
  DEPLOYMENT_FIX.md
  EMERGENCY_DEPLOYMENT_FIX.md
  README.md
  bun.lock
  bun.lockb
  docs/COOLIFY_DEPLOYMENT.md
  docs/COOLIFY_DEPLOYMENT_GUIDE.md
  docs/DEPLOYMENT_SOLUTION.md
  docs/FIX_PRODUCTION_ISSUES.md
  docs/MIGRATIONS.md
  docs/N8N_SECURITY_GUIDE.md
  docs/deployment/COOLIFY_DEPLOYMENT_GUIDE.md
  docs/deployment/MIGRATION_SYSTEM_CHANGES.md
  next.config.ts
  package.json
  scripts/generate-importmap.js
  scripts/migrate-neon-database.ts
  scripts/setup-neon.ts
  src/app/api/neon/health/route.ts
  src/components/common/layout/header/navigation/Navigation.tsx
  src/contexts/CartContext.tsx
  src/lib/neon/client.ts
  src/payload.config.ts
Owners: @team-lead, @senior-dev, @devops-lead

fix: MinIO storage integration and admin panel issues
  CLAUDE.md
  scripts/cleanup-test-data.ts
  src/globals/HomepageSettings.ts
  src/payload.config.ts
Owners: @team-lead, @devops-lead, @senior-dev

docs: update CLAUDE.md with recent MinIO integration updates
  CLAUDE.md
Owners: @team-lead

fix: configure Vercel to use Bun package manager
  package.json
  vercel.json
Owners: @devops-lead, @team-lead

fix: simplify Vercel Bun configuration per official docs
  vercel.json
Owners: @devops-lead

fix: force Vercel to use Bun and remove npm lock file
  package-lock.json
  vercel.json
Owners: @team-lead, @senior-dev, @devops-lead

fix: add missing Payload importMap.js file for Vercel deployment
  .gitignore
  src/app/(payload)/admin/importMap.js
Owners: @team-lead, @senior-dev

fix: resolve TypeScript build warnings and update documentation
  CLAUDE.md
  bun.lockb
  package.json
  src/i18n/index.ts
Owners: @team-lead, @senior-dev, @devops-lead

chore: add .env.example file with environment variable template
  .env.example
Owners: @team-lead, @senior-dev

fix: add NODE_OPTIONS for importMap generation and update docs
  CLAUDE.md
  package.json
  src/app/(payload)/admin/importMap.js
Owners: @team-lead, @devops-lead, @senior-dev

fix: MinIO storage port configuration for production uploads
  .env.example
  src/lib/storage/minio-adapter.ts
  src/payload.config.ts
Owners: @team-lead, @senior-dev

revert: remove unnecessary S3_API_PORT configuration
  src/lib/storage/minio-adapter.ts
  src/payload.config.ts
Owners: @team-lead, @senior-dev

fix: prevent MinIO adapter initialization with empty credentials
  .env.example
  CLAUDE.md
  src/payload.config.ts
Owners: @team-lead, @senior-dev

fix: register storage adapter for all upload collections
  src/payload.config.ts
Owners: @team-lead, @senior-dev

debug: add logging to diagnose S3 storage adapter issues
  src/lib/storage/minio-adapter.ts
  src/payload.config.ts
Owners: @team-lead, @senior-dev

revert: remove debug logging and restore original storage config
  src/lib/storage/minio-adapter.ts
  src/payload.config.ts
Owners: @team-lead, @senior-dev

refactor: clean up admin account settings and improve UI
  src/app/(payload)/admin/importMap.js
  src/collections/Users.ts
  src/components/admin/AccountWrapper.tsx
  src/components/admin/AdminProvider.tsx
  src/components/admin/ThemeSwitcher.tsx
  src/i18n/index.ts
  src/migrations/2025_remove_user_fields.ts
  src/payload.config.ts
Owners: @team-lead, @senior-dev, @backend-systems-architect

fix: remove duplicate locale switchers and fix admin UI issues
  src/app/(payload)/admin/importMap.js
  src/collections/Users.ts
  src/components/admin/AccountWrapper.tsx
  src/components/admin/CustomAvatar.tsx
  src/components/admin/LocaleHider.tsx
  src/components/admin/ThemeApplier.tsx
  src/payload.config.ts
Owners: @team-lead, @senior-dev, @backend-systems-architect
