Repository FROMJASP/14voices, changes with the owners that .github/CODEOWNERS names for each.
All owners: @team-lead, @senior-dev, @backend-systems-architect, @security-auditor, @devops-lead, @email-specialist, @billing-specialist, @booking-specialist, @content-specialist

fix: prevent voiceover image overlap with play button on XL screens
  src/components/domains/voiceover/HoverTooltip.tsx
  src/components/domains/voiceover/OptimizedVoiceoverGrid.tsx
Owners: @team-lead, @senior-dev

feat: add black & white filter effect to voiceover cards
  src/components/domains/voiceover/OptimizedVoiceoverGrid.tsx
  src/components/domains/voiceover/custom-card.css
Owners: @team-lead, @senior-dev

feat: implement beautiful view transitions throughout the application
  CLAUDE.md
  bun.lock
  package.json
  src/app/(app)/(with-global-layout)/test-transitions/page.tsx
  src/app/(app)/layout.tsx
  src/components/common/layout/footer/Footer.tsx
  src/components/common/layout/header/logo/Logo.tsx
  src/components/common/layout/header/navigation/MobileMenu.tsx
  src/components/common/layout/header/navigation/Navigation.tsx
  src/components/common/layout/header/navigation/NavigationItem.tsx
  src/components/common/navigation/TransitionLink.tsx
  src/components/common/navigation/index.ts
  src/components/common/transitions/AnimatedSection.tsx
  src/components/common/transitions/ViewTransitionsProvider.tsx
  src/components/common/transitions/index.ts
  src/components/common/widgets/PageRenderer.tsx
  src/components/domains/voiceover/VoiceoverDetailClient.tsx
Owners: @team-lead, @senior-dev, @devops-lead

fix: resolve SSR issues with SSGOI components for Vercel deployment
  src/app/(app)/(with-global-layout)/test-transitions/page.tsx
  src/components/common/widgets/PageRenderer.tsx
Owners: @team-lead, @senior-dev

perf: implement comprehensive performance optimizations for lightning-fast loading
  next.config.ts
  src/app/(app)/(with-global-layout)/[[...slug]]/page.tsx
  src/app/(app)/(with-global-layout)/voiceovers/[slug]/page.tsx
  src/app/(app)/globals.css
  src/app/(app)/layout.tsx
  src/app/api/public-voiceovers/route.ts
  src/app/robots.ts
  src/app/sitemap.ts
  src/components/common/widgets/PageRenderer.tsx
  src/components/domains/voiceover/OptimizedVoiceoverGrid.tsx
  src/components/features/homepage/VoiceoverSection.tsx
  src/lib/optimized-fetch.ts
  src/lib/performance/cache-config.ts
  src/middleware.ts
Owners: @team-lead, @senior-dev

fix: remove unused useLivePreview variable to fix TypeScript error
  src/components/common/widgets/PageRenderer.tsx
Owners: @team-lead, @senior-dev

feat: implement layout system and add Link-to-Blog section
  src/app/(app)/globals.css
  src/collections/Pages.ts
  src/components/common/widgets/PageRenderer.tsx
  src/components/features/homepage/HeroVariant1.tsx
  src/components/features/homepage/LinkToBlogSection.tsx
Owners: @team-lead, @senior-dev, @backend-systems-architect

fix: resolve TypeScript errors for push
  src/components/common/widgets/PageRenderer.tsx
Owners: @team-lead, @senior-dev

fix: correct Link-to-Blog section image URL for production
  src/collections/Pages.ts
Owners: @backend-systems-architect

feat: update favicon with purple brand color and Bricolage font
  public/favicon.svg
Owners: @team-lead, @senior-dev

fix: match Link-to-Blog image handling with hero section approach
  src/collections/Pages.ts
  src/components/features/homepage/LinkToBlogSection.tsx
Owners: @backend-systems-architect, @team-lead, @senior-dev

fix: voiceover card player maintains dark overlay in light mode
  src/components/domains/voiceover/VoiceoverPlayerCard.tsx
Owners: @team-lead, @senior-dev

feat: add block system for homepage content management
  src/app/(payload)/admin/importMap.js
  src/collections/Pages.ts
  src/components/admin/cells/BlockLabel.tsx
  src/components/admin/cells/IntegratedSectionLabel.tsx
  src/components/admin/cells/LayoutSectionLabel.tsx
  src/components/admin/fields/EditBlocksTitle.tsx
  src/components/common/widgets/PageRenderer.tsx
  src/payload.config.ts
Owners: @team-lead, @senior-dev, @backend-systems-architect

feat: update admin logo to 14V with admin panel indicator
  src/components/admin/graphics/Logo.tsx
Owners: @team-lead, @senior-dev

refactor: rename admin panel categories
  src/collections/BlogPosts.ts
  src/collections/FAQ.ts
  src/collections/FormSubmissions.ts
  src/collections/Forms.ts
  src/collections/Pages.ts
  src/collections/Testimonials.ts
  src/globals/FAQSettings.ts
Owners: @backend-systems-architect, @team-lead, @senior-dev

refactor: rename Documents group to Orders in admin panel
  src/collections/Bookings.ts
  src/collections/Invoices.ts
  src/collections/Scripts.ts
Owners: @backend-systems-architect

feat: implement internationalization for admin panel group names
  src/collections/BlogPosts.ts
  src/collections/Bookings.ts
  src/collections/EmailAudiences.ts
  src/collections/EmailCampaigns.ts
  src/collections/EmailComponents.ts
  src/collections/EmailContacts.ts
  src/collections/EmailJobs.ts
  src/collections/EmailLogs.ts
  src/collections/EmailSequences.ts
  src/collections/EmailTemplates.ts
  src/collections/FAQ.ts
  src/collections/FormSubmissions.ts
  src/collections/Forms.ts
  src/collections/Groups.ts
  src/collections/Invoices.ts
  src/collections/Media.ts
  src/collections/Pages.ts
  src/collections/Scripts.ts
  src/collections/SecurityLogs.ts
  src/collections/Testimonials.ts
  src/collections/Users.ts
  src/collections/Voiceovers.ts
  src/globals/EmailSettings.ts
  src/globals/FAQSettings.ts
  src/i18n/index.ts
  src/translations/en.json
  src/translations/nl.json
Owners: @backend-systems-architect, @team-lead, @senior-dev

feat: add logo and icons to admin panel sidebar
  src/app/(payload)/admin/importMap.js
  src/components/admin/BeforeNavLinks.tsx
  src/components/admin/NavIconsCSS.tsx
  src/components/admin/Root.tsx
  src/payload.config.ts
Owners: @team-lead, @senior-dev

fix: implement nav icons using static CSS approach
  src/components/admin/admin-overrides.css
  src/components/admin/styles/nav-icons.css
Owners: @team-lead, @senior-dev

feat: add Dutch and English translations for Branding and Top Bar tabs
  src/globals/SiteSettings.ts
Owners: @team-lead, @senior-dev

feat: add Dutch translations to blog posts collection
  src/collections/BlogPosts.ts
Owners: @backend-systems-architect

feat: enhance blog posts with improved translations and tracking
  src/collections/BlogPosts.ts
  src/components/admin/admin-overrides.css
  src/components/admin/styles/nav-icons.css
  src/fields/lexical/blogEditorConfig.ts
  src/fields/lexical/heroDescriptionConfig.ts
  src/hooks/useBlogPostView.ts
  src/i18n/index.ts
Owners: @backend-systems-architect, @team-lead, @senior-dev

chore: update nav-icons comment to clarify sidebar-only application
  src/components/admin/styles/nav-icons.css
Owners: @team-lead, @senior-dev

feat: add blog post selection option to link-to-blog section
  src/collections/Pages.ts
  src/components/features/homepage/LinkToBlogSection.tsx
Owners: @backend-systems-architect, @team-lead, @senior-dev

feat: implement hero variant 2 with advanced customization options
  bun.lockb
  package.json
  src/app/(app)/(with-global-layout)/[[...slug]]/page.tsx
  src/app/(payload)/admin/importMap.js
  src/app/api/globals/site-settings/route.ts
  src/collections/Pages.ts
  src/collections/Pages/blocks/hero.ts
  src/collections/Pages/blocks/linkToBlog.ts
  src/collections/Pages/blocks/voiceover.ts
  src/collections/Pages/fields/content.ts
  src/collections/Pages/fields/pageBlocks.ts
  src/collections/Pages/fields/seo.ts
  src/collections/Pages/fields/settings.ts
  src/collections/Pages/index.ts
  src/components/admin/cells/PageBlockLabel.tsx
  src/components/admin/cells/PageSlugCell.tsx
  src/components/common/widgets/PageRenderer.tsx
  src/components/features/homepage/HeroSection.tsx
  src/components/features/homepage/HeroVariant2.css
  src/components/features/homepage/HeroVariant2.tsx
  src/components/ui/ButtonIcon.tsx
  src/components/ui/animated-grid-pattern.tsx
  src/fields/lexical/heroSubtitleConfig.ts
  src/lib/homepage-settings.ts
  src/lib/homepage-utils.ts
Owners: @team-lead, @senior-dev, @devops-lead, @backend-systems-architect

fix: resolve TypeScript errors for pre-push validation
  src/components/features/homepage/OptimizedHeroSection.tsx
  src/lib/homepage-settings.ts
  src/lib/homepage-utils.ts
Owners: @team-lead, @senior-dev

fix: hero variant 2 button colors and add more icon options
  src/collections/Pages/blocks/hero.ts
  src/components/features/homepage/HeroVariant2.css
  src/components/features/homepage/HeroVariant2.tsx
  src/components/ui/ButtonIcon.tsx
Owners: @backend-systems-architect, @team-lead, @senior-dev

refactor: improve pages block system UI/UX
  src/app/(payload)/admin/importMap.js
  src/collections/Pages/blocks/hero.ts
  src/collections/Pages/blocks/linkToBlog.ts
  src/collections/Pages/blocks/voiceover.ts
  src/collections/Pages/fields/pageBlocks.ts
  src/components/admin/cells/PageBlockLabel.tsx
  src/components/admin/fields/BlockUsageInfo.tsx
  src/components/admin/fields/EditBlocksTitle.tsx
  src/components/common/widgets/PageRenderer.tsx
Owners: @team-lead, @senior-dev, @backend-systems-architect

fix: remove incorrect block usage logic from pages collection
  src/collections/Pages/blocks/hero.ts
  src/collections/Pages/blocks/linkToBlog.ts
  src/collections/Pages/blocks/voiceover.ts
Owners: @backend-systems-architect

fix: remove glowing border animation from skeleton loading UI
  src/app/(app)/(with-global-layout)/loading.tsx
  src/app/(app)/globals.css
Owners: @team-lead, @senior-dev

perf: optimize navigation to prevent skeleton loading UI
  src/app/(app)/(with-global-layout)/[[...slug]]/page.tsx
  src/components/domains/voiceover/OptimizedVoiceoverGrid.tsx
  src/components/domains/voiceover/VoiceoverDetailClient.tsx
  src/components/features/homepage/VoiceoverSection.tsx
  src/lib/api.ts
  src/stores/index.ts
  src/stores/voiceoverStore.ts
Owners: @team-lead, @senior-dev

fix: remove glowing animation from availability indicator on voiceover detail page
  src/components/domains/voiceover/VoiceoverDetailClient.tsx
Owners: @team-lead, @senior-dev

fix: admin panel icon dark mode support and styling improvements
  src/app/(payload)/admin-overrides.css
  src/app/(payload)/admin.css
  src/app/(payload)/admin/importMap.js
  src/app/(payload)/custom.css
  src/app/(payload)/icon-styles.css
  src/collections/Pages.ts
  src/collections/Pages/blocks/hero.ts
  src/collections/Pages/blocks/linkToBlog.ts
  src/collections/Pages/blocks/voiceover.ts
  src/collections/Pages/fields/pageBlocks.ts
  src/components/admin/AccountWrapperSimple.tsx
  src/components/admin/AdminEnhancements.tsx
  src/components/admin/AdminProvider.tsx
  src/components/admin/BeforeNavLinks.tsx
  src/components/admin/CustomAvatar.tsx
  src/components/admin/NavIconsCSS.tsx
  src/components/admin/NavIconsTailwind.tsx
  src/components/admin/PayloadThemeListener.tsx
  src/components/admin/Root.tsx
  src/components/admin/VoiceoverRowClickSimple.tsx
  src/components/admin/cells/PageBlockLabel.tsx
  src/components/admin/fields/VariantSyncNotice.tsx
Owners: @team-lead, @senior-dev, @backend-systems-architect

fix: remove unused variable causing build failure
  src/collections/Pages/blocks/hero.ts
Owners: @backend-systems-architect

fix: remove unused files and fix TypeScript errors for production build
  src/collections/Pages/fields/dynamicBlocks.ts
  src/collections/Pages/fields/pageBlocks.ts
  src/collections/Pages/fields/pageBlocksComprehensive.ts
  src/collections/Pages/fields/pageBlocksSimple.ts
  src/collections/Pages/fields/pageBlocksWithContent.ts
  src/collections/Pages/index.ts
  src/components/admin/fields/BlockContentEditor.tsx
  src/components/admin/fields/BlockLayoutManager.tsx
  src/components/admin/fields/DynamicBlockContent.tsx
  src/components/admin/fields/DynamicBlocks.tsx
  src/components/admin/fields/PageBlocksVariantSync.tsx
  src/components/admin/fields/SectionTitle.tsx
  src/components/admin/fields/VariantConditionalField.tsx
  src/components/admin/fields/VariantDisplay.tsx
  src/components/admin/fields/VariantProvider.tsx
  src/components/admin/fields/VariantSyncField.tsx
  src/components/admin/views/PagesEditWrapper.tsx
  src/components/features/content/ContentSection.tsx
  src/scripts/check-all-versions.ts
  src/scripts/clear-hero-data.ts
  src/scripts/clear-hero-text.ts
  src/scripts/restore-from-version.ts
  src/scripts/restore-hero-content.ts
  src/scripts/restore-page-content.ts
  src/scripts/run-migration.ts
Owners: @backend-systems-architect, @team-lead, @senior-dev

feat: add comprehensive blog system with categories and improve block thumbnails
  CLAUDE.md
  bun.lock
  public/admin/block-previews/blog-section-1.svg
  public/admin/block-previews/content-v1.svg
  public/admin/block-previews/hero-v1.svg
  public/admin/block-previews/hero-v2.svg
  public/admin/block-previews/voiceover-v1.svg
  src/app/(app)/(with-global-layout)/[[...slug]]/page.tsx
  src/collections/BlogPosts.ts
  src/collections/Categories.ts
  src/collections/Pages.ts
  src/collections/Pages/blocks/index.ts
  src/components/blocks/BlogSection1.tsx
  src/components/common/widgets/PageRenderer.tsx
  src/payload.config.ts
  src/scripts/clear-blog-layout.ts
Owners: @team-lead, @senior-dev, @backend-systems-architect

fix: resolve TypeScript build error for categories collection
  src/collections/BlogPosts.ts
Owners: @backend-systems-architect

feat: reorganize blog categories as tabs within blog posts collection
  src/app/(payload)/admin/importMap.js
  src/collections/BlogPosts.ts
  src/collections/Categories.ts
  src/components/admin/views/BlogPostsWithTabs.css
  src/components/admin/views/BlogPostsWithTabs.tsx
Owners: @team-lead, @senior-dev, @backend-systems-architect

fix: resolve categories tab 404 error and deprecation warning
  src/app/api/globals/site-settings/route.ts
  src/collections/Categories.ts
  src/components/admin/NavIconsCSS.tsx
Owners: @team-lead, @senior-dev, @backend-systems-architect

feat: show dash instead of 'Geen Categorie' for empty categories
  src/app/(payload)/admin/importMap.js
  src/collections/BlogPosts.ts
  src/components/admin/cells/CategoryCell.tsx
Owners: @team-lead, @senior-dev, @backend-systems-architect

.github/CODEOWNERS:

# Code Owners for Architecture and Build Integrity

# Global owners for all files
* @team-lead @senior-dev

# Architecture and configuration
/src/domains/ @backend-systems-architect
/src/collections/ @backend-systems-architect
/src/config/ @security-auditor @backend-systems-architect
CLAUDE.md @team-lead
.github/ @devops-lead

# Build and deployment
package.json @devops-lead @team-lead
tsconfig.json @backend-systems-architect
vercel.json @devops-lead
/scripts/ @devops-lead

# Critical security files
/src/lib/auth-middleware.ts @security-auditor
/src/lib/csrf.ts @security-auditor
/src/config/security.ts @security-auditor

# Domain-specific ownership
/src/domains/email/ @email-specialist @backend-systems-architect
/src/domains/billing/ @billing-specialist @backend-systems-architect
/src/domains/booking/ @booking-specialist @backend-systems-architect
/src/domains/voiceover/ @content-specialist @backend-systems-architect
