Repository FROMJASP/14voices, changes with the owners that .github/CODEOWNERS names for each.
All owners: @team-lead, @senior-dev, @backend-systems-architect, @security-auditor, @devops-lead, @email-specialist, @billing-specialist, @booking-specialist, @content-specialist

fix: clean up admin account page and remove duplicate fields
  src/collections/Users.ts
  src/components/admin/CustomAvatar.tsx
  src/components/admin/ThemeApplier.tsx
  src/lib/storage/minio-adapter.ts
Owners: @backend-systems-architect, @team-lead, @senior-dev

feat: migrate global state management to Zustand
  CLAUDE.md
  bun.lockb
  package.json
  src/app/(app)/(with-global-layout)/winkelwagen/page.tsx
  src/app/(app)/layout.tsx
  src/components/admin/AdminEnhancements.tsx
  src/components/common/StoreHydration.tsx
  src/components/common/layout/header/navigation/Navigation.tsx
  src/components/common/layout/header/navigation/ThemeToggle.tsx
  src/components/common/widgets/cart/CartHoverMenu.tsx
  src/components/domains/cart/CartDrawer.tsx
  src/components/domains/pricing/PriceCalculator.tsx
  src/components/domains/production/ProductionDetailClient.tsx
  src/components/domains/production/ProductionOrderPage.tsx
  src/components/domains/production/ProductionOrderPageWrapper.tsx
  src/components/domains/voiceover/VoiceoverDetailClient.tsx
  src/components/features/homepage/HeroSection.tsx
  src/components/features/homepage/HomepageContainer.tsx
  src/stores/cart/cartStore.ts
  src/stores/checkout/checkoutStore.ts
  src/stores/index.ts
  src/stores/lib/createStore.ts
  src/stores/lib/types.ts
  src/stores/theme/themeStore.ts
  src/stores/ui/cartModalStore.ts
  src/stores/ui/drawerStore.ts
  src/stores/voiceover/voiceoverStore.ts
Owners: @team-lead, @senior-dev, @devops-lead

fix: remove Docker files and fix ESLint errors
  .devcontainer/devcontainer.json
  Dockerfile.emergency
  Dockerfile.production
  next.config.ts
  src/collections/Media.ts
  src/components/admin/AccountWrapper.tsx
  src/components/common/error-boundary/ErrorBoundary.tsx
  src/lib/runtime-config.ts
  src/lib/safe-payload.ts
Owners: @team-lead, @senior-dev, @backend-systems-architect

refactor: clean up unused components and scripts
  bun.lockb
  package.json
  scripts/build-for-validation.js
  scripts/cleanup-test-data.ts
  scripts/generate-payload-migration.js
  scripts/generate-payload-types.js
  scripts/generate-schema-migration.js
  scripts/generate-types.js
  scripts/migrate-neon-database.ts
  scripts/payload-migration-runner.js
  scripts/run-payload-migrations.js
  scripts/seed-voiceovers.js
  scripts/setup-neon.ts
  scripts/test-neon-connection.js
  scripts/validate-architecture.js
  scripts/validate-build-pre-push.js
  scripts/validate-dependencies.js
  scripts/validate-test-dependencies.js
  src/app/(app)/global-error.tsx
  src/app/(app)/not-found.tsx
  src/components/admin/AdminActions.tsx
  src/components/admin/AdminEnhancements.tsx
  src/components/admin/AdminToursShepherd.tsx
  src/components/admin/TourStylesShepherd.tsx
  src/components/admin/admin-button.css
  src/seed/create-default-blocks.ts
  src/seed/email-templates.ts
  src/seed/index.ts
  src/types/shepherd.d.ts
Owners: @team-lead, @senior-dev, @devops-lead

fix: update pre-push hook to use existing validation scripts
  .husky/pre-push
Owners: @team-lead, @senior-dev

fix: resolve FAQ collection authorization errors in admin panel
  src/app/api/faq/[id]/route.ts
  src/app/api/faq/route.ts
  src/components/admin/ui/FAQManageField.tsx
Owners: @team-lead, @senior-dev

fix: resolve React hooks violation in AudioNotes component
  src/components/domains/voiceover/AudioNotes.tsx
Owners: @team-lead, @senior-dev

fix: escape apostrophe in SimpleDemoPlayer component
  src/components/domains/voiceover/SimpleDemoPlayer.tsx
Owners: @team-lead, @senior-dev

feat: update Voiceovers collection field labels and availability logic
  src/app/(payload)/admin/importMap.js
  src/collections/Voiceovers.ts
  src/components/admin/fields/WarningMessage.tsx
Owners: @team-lead, @senior-dev, @backend-systems-architect

fix: resolve FAQ section TypeError on homepage
  src/app/api/faq/route.ts
  src/components/features/homepage/FAQSectionClientWrapper.tsx
Owners: @team-lead, @senior-dev

fix: resolve TypeScript error in FAQ route for Vercel build
  src/app/api/faq/route.ts
Owners: @team-lead, @senior-dev

refactor: remove redundant FAQ management tab from FAQ Settings
  src/collections/FAQ.ts
  src/globals/FAQSettings.ts
Owners: @backend-systems-architect, @team-lead, @senior-dev

fix: resolve FAQ save "Method Not Allowed" error by reorganizing API routes
  CLAUDE.md
  src/app/(payload)/admin/importMap.js
  src/app/api/faq/route.ts
  src/app/api/public/faq-settings/route.ts
  src/app/api/public/faq/route.ts
  src/collections/Cohorts.ts
  src/collections/FAQ.ts
  src/collections/Groups.ts
  src/collections/Pages.ts
  src/collections/Users.ts
  src/collections/Voiceovers.ts
  src/collections/index.ts
  src/components/admin/cells/CohortCell.tsx
  src/components/admin/cells/OrderCell.tsx
  src/components/admin/cells/index.ts
  src/components/admin/fields/GroupVoiceoversField.tsx
  src/components/admin/ui/FAQManageField.tsx
  src/components/admin/ui/FAQSettingsNav.tsx
  src/components/admin/ui/LogoPreview.tsx
  src/components/features/homepage/FAQSection.server.tsx
  src/components/features/homepage/FAQSectionClientWrapper.tsx
  src/globals/HomepageSettings.ts
  src/globals/SiteSettings.ts
  src/i18n/index.ts
  src/lib/faq-categories.ts
  src/lib/homepage-settings.ts
  src/lib/storage/index.ts
  src/migrations/20250901_convert_group_slug_to_relationship.ts
  src/payload-types.ts
  src/payload.config.ts
  src/seed/site-settings.ts
  src/translations/en.json
  src/translations/nl.json
Owners: @team-lead, @senior-dev, @backend-systems-architect

fix: resolve FAQ display and homepage content issues
  src/app/api/public/faq/route.ts
  src/components/features/homepage/FAQSectionClientWrapper.tsx
  src/lib/homepage-settings.ts
  src/scripts/create-home-page.ts
Owners: @team-lead, @senior-dev

feat: enhance Pages collection admin UI and add custom date formatting
  CLAUDE.md
  bun.lockb
  package.json
  src/app/(app)/(with-global-layout)/[...slug]/page.tsx
  src/app/(app)/(with-global-layout)/layout.tsx
  src/app/(payload)/admin/importMap.js
  src/collections/Pages.ts
  src/components/admin/AdminEnhancements.tsx
  src/components/admin/DateCellFormatter.tsx
  src/components/admin/cells/DateCell.tsx
  src/components/admin/cells/PageTitleCell.tsx
  src/components/admin/cells/index.ts
  src/components/admin/styles/date-formatting.css
  src/components/admin/ui/LogoPreview.tsx
  src/components/admin/views/PagesList.tsx
  src/components/common/layout/GlobalLayout.tsx
  src/components/common/layout/header/logo/Logo.tsx
  src/components/common/layout/header/navigation/Navigation.tsx
  src/components/common/widgets/PageHeroSection.tsx
  src/components/common/widgets/PageRenderer.tsx
  src/components/common/widgets/PreviewLoading.tsx
  src/components/common/widgets/index.ts
  src/fields/lexical/heroDescriptionConfig.ts
  src/fields/lexical/heroTitleConfig.ts
  src/globals/SiteSettings.ts
  src/lib/homepage-utils.ts
  src/middleware.ts
  src/payload.config.ts
Owners: @team-lead, @senior-dev, @devops-lead, @backend-systems-architect

feat: implement Payload CMS live preview for pages
  CLAUDE.md
  src/app/(app)/(with-global-layout)/[...slug]/loading.tsx
  src/app/(app)/(with-global-layout)/[[...slug]]/page.tsx
  src/app/(app)/(with-global-layout)/page.tsx
  src/collections/Pages.ts
  src/components/common/widgets/PageRenderer.tsx
  src/components/features/homepage/HeroSection.tsx
  src/lib/homepage-utils.ts
  src/payload.config.ts
Owners: @team-lead, @senior-dev, @backend-systems-architect

feat: improve draft/version management to reduce excessive saves
  CLAUDE.md
  src/app/(payload)/admin/importMap.js
  src/collections/Pages.ts
  src/components/admin/SaveDraftControls.tsx
  src/payload.config.ts
Owners: @team-lead, @senior-dev, @backend-systems-architect

feat: reorder Pages collection table to show URL-pad column first
  src/collections/Pages.ts
  src/components/admin/views/PagesList.tsx
Owners: @backend-systems-architect, @team-lead, @senior-dev

feat: move lock icon to URL-pad column and make it clickable
  CLAUDE.md
  src/app/(payload)/admin/importMap.js
  src/collections/Pages.ts
  src/components/admin/cells/PageSlugCell.tsx
  src/components/admin/cells/PageTitleCell.tsx
Owners: @team-lead, @senior-dev, @backend-systems-architect

fix: await headers() function in Next.js 15 for async compatibility
  src/app/(app)/(with-global-layout)/[[...slug]]/page.tsx
Owners: @team-lead, @senior-dev

fix: resolve all TypeScript compilation errors for production build
  src/app/(app)/(with-global-layout)/[[...slug]]/page.tsx
  src/app/(app)/(with-global-layout)/layout.tsx
  src/app/api/public/faq-settings/route.ts
  src/app/api/public/faq/route.ts
  src/app/api/webhooks/resend/route.ts
  src/collections/BlogPosts.ts
  src/collections/FAQ.ts
  src/collections/Pages.ts
  src/collections/Testimonials.ts
  src/collections/Users.ts
  src/components/admin/SaveDraftControls.tsx
  src/components/admin/ui/LogoPreview.tsx
  src/fields/lexical/heroDescriptionConfig.ts
  src/globals/FAQSettings.ts
  src/hooks/emailTriggers.ts
  src/lib/homepage-utils.ts
  src/lib/navigation.ts
  src/payload.config.ts
  src/scripts/reset-admin-access.ts
  src/seed/faq.ts
  src/seed/run-seed.ts
  src/translations/en.json
  src/translations/nl.json
Owners: @team-lead, @senior-dev, @backend-systems-architect

feat: reorganize and rename admin sidebar categories
  src/app/(payload)/admin/importMap.js
  src/collections/Groups.ts
  src/collections/Media.ts
  src/collections/Voiceovers.ts
  src/payload.config.ts
  src/translations/en.json
  src/translations/nl.json
Owners: @team-lead, @senior-dev, @backend-systems-architect

feat: improve Payload CMS admin UI and fix avatar display issues
  CLAUDE.md
  src/app/(payload)/admin/importMap.js
  src/collections/Groups.ts
  src/collections/Users.ts
  src/collections/Voiceovers.ts
  src/components/admin/AdminProvider.tsx
  src/components/admin/UserDataPreloader.tsx
  src/components/admin/cells/GroupCell.tsx
  src/components/admin/cells/PhoneCell.tsx
  src/components/admin/cells/UserAvatarCell.tsx
  src/components/admin/lists/UsersList.tsx
  src/hooks/userAvatar.ts
Owners: @team-lead, @senior-dev, @backend-systems-architect

fix: resolve TypeScript errors for production deployment
  src/collections/Users.ts
  src/components/admin/lists/UsersList.tsx
Owners: @backend-systems-architect, @team-lead, @senior-dev

fix: change name field label from 'Naam & E-mail' to 'Naam' in account page
  src/collections/Users.ts
Owners: @backend-systems-architect

fix: resolve ESLint errors and some warnings
  src/app/api/health/route.ts
  src/components/admin/AccountWrapper.tsx
  src/components/admin/ClientConfigProvider.tsx
  src/components/ui/Command.tsx
Owners: @team-lead, @senior-dev

fix: remove unused import in Users collection
  src/collections/Users.ts
  src/components/admin/ClientConfigProvider.tsx
  src/hooks/afterLogin.ts
Owners: @backend-systems-architect, @team-lead, @senior-dev

feat: implement last login tracking with Dutch translations
  bun.lockb
  src/collections/Users.ts
  src/components/admin/cells/UserLastSeenCell.tsx
  src/hooks/afterLogin.ts
  src/scripts/update-last-login.ts
Owners: @team-lead, @senior-dev, @backend-systems-architect

feat: improve homepage and audio playback functionality
  src/app/(app)/(with-global-layout)/[[...slug]]/page.tsx
  src/collections/Pages.ts
  src/components/common/widgets/PageRenderer.tsx
  src/components/domains/voiceover/AnimatedPlayer.tsx
  src/components/domains/voiceover/OptimizedVoiceoverGrid.tsx
  src/components/features/homepage/HeroSection.tsx
  src/components/features/homepage/VoiceoverSection.tsx
  src/components/features/homepage/index.ts
  src/lib/homepage-settings.ts
  src/lib/homepage-utils.ts
  src/store/audioStore.ts
  src/store/index.ts
Owners: @team-lead, @senior-dev, @backend-systems-architect

feat: add customizable voice-over section title for homepage
  src/collections/Pages.ts
  src/components/common/widgets/PageRenderer.tsx
  src/components/features/homepage/HomepageContainer.tsx
  src/components/features/homepage/VoiceoverSection.tsx
  src/payload-types.ts
Owners: @backend-systems-architect, @team-lead, @senior-dev

fix: apply makeMediaUrlRelative to hero image URLs for proper display
  src/lib/homepage-utils.ts
Owners: @team-lead, @senior-dev

fix: adjust hero image breakpoint to hide below 810px
  src/app/(app)/globals.css
  src/app/(app)/layout.tsx
  src/app/(app)/loading.tsx
  src/app/(app)/theme-script.tsx
  src/app/global-error.tsx
  src/components/common/StoreHydration.tsx
  src/components/common/layout/header/navigation/ThemeToggle.tsx
  src/components/common/widgets/PageRenderer.tsx
  src/components/common/widgets/RichText.tsx
  src/components/common/widgets/feedback/ErrorFallback.tsx
  src/components/common/widgets/media/Video.tsx
  src/components/domains/cart/CartButton.tsx
  src/components/domains/cart/CartDrawer.tsx
  src/components/domains/cart/CartPreview.tsx
  src/components/domains/production/ProductionDetailClient.tsx
  src/components/domains/production/ProductionOrderPage.tsx
  src/components/domains/voiceover/AnimatedPlayer.tsx
  src/components/domains/voiceover/VoiceoverHero.tsx
  src/components/domains/voiceover/VoiceoverPlayerCard.tsx
  src/components/features/homepage/HeroSection.tsx
  src/components/features/homepage/OptimizedHeroSection.tsx
  src/stores/index.ts
  src/stores/theme/themeStore.ts
Owners: @team-lead, @senior-dev

fix: resolve dark mode issues and improve theme implementation
  CLAUDE.md
  src/app/(app)/globals.css
  src/app/(app)/loading.tsx
  src/app/global-error.tsx
  src/components/common/layout/GlobalLayout.tsx
  src/components/common/layout/footer/Footer.tsx
  src/components/common/layout/header/navigation/ThemeToggle.tsx
  src/components/common/widgets/PageRenderer.tsx
  src/components/common/widgets/RichText.tsx
  src/components/common/widgets/media/Video.tsx
  src/components/domains/cart/CartDrawer.tsx
  src/components/domains/cart/CartPreview.tsx
  src/components/domains/production/ProductionDetailClient.tsx
  src/components/domains/production/ProductionOrderPage.tsx
  src/components/domains/voiceover/VoiceoverHero.tsx
  src/components/domains/voiceover/VoiceoverPlayerCard.tsx
  src/components/features/homepage/HomepageContainer.tsx
  src/components/features/homepage/OptimizedHeroSection.tsx
  src/components/features/homepage/VoiceoverSection.tsx
Owners: @team-lead, @senior-dev

fix: voiceover card image overflow to show border properly
  bun.lock
  src/components/domains/voiceover/OptimizedVoiceoverGrid.tsx
Owners: @team-lead, @senior-dev

fix: audio player UI overflow to keep it inside card borders
  src/components/domains/voiceover/AnimatedPlayer.tsx
  src/components/domains/voiceover/OptimizedVoiceoverGrid.tsx
Owners: @team-lead, @senior-dev

fix: make audio player UI responsive in voiceover cards
  src/components/domains/voiceover/AnimatedPlayer.tsx
Owners: @team-lead, @senior-dev

fix: prevent audio player content from overflowing card boundaries
  src/components/domains/voiceover/AnimatedPlayer.tsx
Owners: @team-lead, @senior-dev

fix: resolve theme toggle double-click issue and mobile menu flicker
  src/components/common/layout/header/navigation/MobileMenu.tsx
  src/components/common/layout/header/navigation/ThemeToggle.tsx
Owners: @team-lead, @senior-dev

feat: improve audio player UI responsiveness for different grid layouts
  src/components/domains/voiceover/AnimatedPlayer.tsx
  src/components/domains/voiceover/OptimizedVoiceoverGrid.tsx
  src/components/domains/voiceover/custom-card.css
  src/components/features/homepage/VoiceoverSection.tsx
Owners: @team-lead, @senior-dev

feat: add hover tooltip for voiceover cards on desktop
  src/components/domains/voiceover/HoverTooltip.tsx
  src/components/domains/voiceover/OptimizedVoiceoverGrid.tsx
Owners: @team-lead, @senior-dev

.github/CODEOWNERS:

# Code Owners for Architecture and Build Integrity

# Global owners for all files
* @team-lead @senior-dev

# Architecture and configuration
/src/domains/ @backend-systems-architect
/src/collections/ @backend-systems-architect
/src/config/ @security-auditor @backend-systems-architect
CLAUDE.md @team-lead
.github/ @devops-lead

# Build and deployment
package.json @devops-lead @team-lead
tsconfig.json @backend-systems-architect
vercel.json @devops-lead
/scripts/ @devops-lead

# Critical security files
/src/lib/auth-middleware.ts @security-auditor
/src/lib/csrf.ts @security-auditor
/src/config/security.ts @security-auditor

# Domain-specific ownership
/src/domains/email/ @email-specialist @backend-systems-architect
/src/domains/billing/ @billing-specialist @backend-systems-architect
/src/domains/booking/ @booking-specialist @backend-systems-architect
/src/domains/voiceover/ @content-specialist @backend-systems-architect
